/*put everything for small screen layout here*/
* {
	border-sizing: border-box;
	font-family: "open-sans", sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #cecece;
}

/*header content*/
.header	{
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: solid #9C2B22 5px;
	background: linear-gradient(180deg, #D8CAA9, #FFEDD1);
	height: 180px;
	text-align: center;
}

.logo {
	display: inline-block;
	font-size: 36px;
	white-space: nowrap;
}

.logo a {
	color: #9C2B22;
	text-decoration: none;
}

.header-aside {
	margin-right: auto;
	margin-left: auto;
	white-space: nowrap;
}

.choice-text {
	color: #9C2B22;
	font-size: 20px;
}

#regions {
	font-size: 20px;
}

/*main-page main content*/

#map {  
	height: calc(100% - 225px);
	top: 185px;
	bottom: 40px;
	width: 100%; 
}


.overlay {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width:400px;
    height: 200px;
    background:#9C2B22;
    opacity:0.9;
    z-index:49;
    color: #ffffff;
	border-bottom-right-radius: 6px;
}
	


/*region-page side content*/

.region-page-content{
	position: absolute;
	height: calc(100% - 225px);
	top: 185px;
	bottom: 40px;
	width: 100%; 
}

.region-page-main-content {
	padding: 0;
	background: #FFEDD1;
	width: 100%;
	overflow-y: scroll;
	/*overflow-x: hidden;*/
}

#region-map {
	width: 100%;
	overflow: hidden;
}
.region-iframe {
	height: 500px;
}



/*footer content here*/
footer {
	position: fixed;
	width: 100%;
	height: 35px;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: flex;
	border-top: solid #9C2B22 5px;
	background: linear-gradient(180deg, #FFEDD1, #D8CAA9);
	justify-content: flex-end;
}
.disclaimer {
	padding-right: 25px;
}
footer h4 {
	font-size: 10px;
}
footer h4 a {
	color: black;
	text-decoration: none;
}


/*Put everything needed for full screen here*/
@media screen and (min-width: 555px) {

	/*header content*/

	.header	{
	display: flex;
	height: 50px;
	margin: auto;
	text-align: left;
	}
	.logo	{
	align-self: center;
	color: #9C2B22;
	margin-left: 25px;
	width: 30%;
	font-size: 36px;
	}
	.header-aside {
	width: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 50px;
	}
	.choice-text {
	padding: 10px;
	}

	/*Main body content*/

	#map {
	height: calc(100% - 95px);
	top: 55px;
	}

	.overlay {
	position: absolute;
    top: 10%;
    bottom: 0;
    left: 50px;
    width:400px;
    height: 200px;
    background:#9C2B22;
    opacity:0.9;
    z-index:49;
    color: #ffffff;
    border-radius: 10px;
	}
	.overlay_text {
	padding: 15px;
	text-transform: uppercase;
	}	

	/*region page*/

	.region-page-content{
	height: calc(100% - 95px);
	bottom: 40px;
	width: 100%; 
	top:55px;
	display: flex;
	}
	.region-page-main-content {
	padding: 0;
	background: #FFEDD1;
	width: 40%;
	overflow-y: scroll;
	overflow-x: hidden;
	}
	#region-map {
	width: 60%;
	overflow: hidden;
	}
	.region-iframe {
	height: 1000px;
	}

}